@import url("https://use.typekit.net/ywf2fly.css");
@media screen{
        *{
            font-family:futura-pt, sans-serif;
        }
   

    body {

        background-color: grey;
    }

      .widthwrapperofdoom{
          /*Ich liess mich bei dieser Lösung von Max inspirieren*/
          position:relative;
          overflow:hidden;
          height:100vh;
          width:64.7vh; 
          
        
          transform:translate(10vh,0vh);
          background-color: white;
      }

    .title1{
        transform: rotate(-45deg);
        font-size:14vh;
        font-weight:500;
        text-align:center;
        left:5.3vh;
        top:30.4vh;
        letter-spacing: -.9vh;
        text-transform: uppercase;
        position: absolute;
    }


    .title2{
        transform: rotate(-45deg);
        font-size:14vh;
        font-weight:500;
        text-align:center;
        left:4vh;
        top:38.5vh;
        letter-spacing: -.5vh;
        text-transform: uppercase;
        position: absolute;
    }

    .tred{
        transform: rotate(-45deg);
        font-size:3vh;
        font-weight: 600;
        letter-spacing: .08vh;

        top: 71.5vh;
        left:14.5vh;
        text-transform: uppercase;
        position: absolute;
    }



    .tgreen{
        transform: rotate(-45deg);
        font-size:2vh;
        font-weight: 600;
        letter-spacing: .08vh;

        top: 77.5vh;
        left:17.5vh;
        text-transform: uppercase;
        position: absolute;
    }

    .tpink{
        transform: rotate(-45deg);
        font-size: 2vh;
        letter-spacing: 0vh;
        line-height: 2vh;
        color: white;

        left:35.8vh;
        top:56.5vh;
        position:absolute;
    }

    .tcyan{
        transform: rotate(-45deg);
        font-size: 1.2vh;
        letter-spacing: 0vh;
        line-height: 2vh;

        left:42vh;
        top:58.5vh;
        position:absolute;
    }

    .tblue{
        transform: rotate(-45deg);
        font-size: 5.5vh;

        left:11vh;
        top:4vh;  
        position: absolute;
    }

/* OBJECTS */
    .ogreen{
        transform:rotate(-45deg);
        position:absolute;
        height:5vh; /*50px*/
        width:60vh; /*550px*/
        background-color: black;

        margin-left:22vh;
        margin-top:47.5vh; 
    }

    .oyellowvert{
        transform:rotate(-45deg);
        position:absolute;
        height:3vh;
        width:25vh;
        background-color: black;

        margin-left:13.2vh;
        margin-top:84.6vh; 
    }

    .oyellowhori{
        transform:rotate(-45deg);
        position:absolute;
        height:15vh;
        width:3vh;
        background-color: black;

        margin-left:14vh;
        margin-top:87.5vh; 
    }

    .ored{
        transform:rotate(-45deg);
        position:absolute;
        height:20vh;
        width:20vh;
        background-color: black;

        left:-13vh;
        top:57.8vh; 
    }

    .ocyan{
        position: absolute;

        height: 2vh;
        width: 2vh;
        background-color: transparent;

        border-radius:50%;
        border-style: solid;
        border-width: .9vh;

        top:15vh;
        left:46vh;
    }

    .opurple{
        transform:rotate(-45deg);
        position:absolute;
        height:40vh;
        width:1vh;
        background-color: black;

        left:52.5vh;
        top:69vh; /* nice */ 
    }


    .olime{
        position: absolute;

        height: 5vh;
        width: 5vh;
        background-color: transparent;

        border-radius:50%;
        border-style: solid;
        border-width: .9vh;

        top:3vh;
        left:3vh;
    }

    .oseaf{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:6.5vh;
        background-color: black;

        left:12.4vh;
        top:15.5vh; 
    }

    .ooxb1{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:6.5vh;
        background-color: black;

        left:33.5vh;
        top:27.5vh; 
    }

    .ooxb2{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:39vh;
        top:29.5vh; 
    }

    .ooxb3{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:48vh;
        top:25vh; 
    }

    .ooxb4{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:44.5vh;
        top:34.2vh; 
    }

    .ooxb5{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:52vh;
        top:32vh; 
    }

    .oblue{
        transform: rotate(-45deg);
        position: absolute; 
        height: 12.5vh; 
        width: 25vh; 
        border-top-left-radius: 25vh; 
        border-top-right-radius: 25vh;
        background-color: black; 

        left: 4.2vh; 
        top: 28.6vh;
    }


} /*End @media*/

     /*
        Futura PT Medium
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;


        Futura PT Heavy
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Book
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;


        Futura PT Demi
        font-family: futura-pt, sans-serif;
        font-weight: 600;
        font-style: normal;


        Futura PT Bold
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Bold Oblique
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: italic;


        Futura PT Cond Book
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;


        Futura PT Cond Book Oblique
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 400;
        font-style: italic;


        Futura PT Cond Bold
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Cond Bold Oblique
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 700;
        font-style: italic;
        */