@media screen{
    @import url("https://use.typekit.net/ywf2fly.css");
        /*
        Futura PT Medium
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;


        Futura PT Heavy
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Book
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;


        Futura PT Demi
        font-family: futura-pt, sans-serif;
        font-weight: 600;
        font-style: normal;


        Futura PT Bold
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Bold Oblique
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: italic;


        Futura PT Cond Book
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;


        Futura PT Cond Book Oblique
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 400;
        font-style: italic;


        Futura PT Cond Bold
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Cond Bold Oblique
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 700;
        font-style: italic;
        */
    
    /* Rotaté */


    body {
        background-image: url("img/prennercc.png"); 
        background-repeat: no-repeat;
    }

/* Text */
    p {

        font-family:'Futura PT Medium';

        
      }

    .title{
        transform: rotate(-45deg);
        font-size:125px;
        text-align:center;
        margin-left:-1470px;
        margin-top:425px;
        line-height: 108px;
        letter-spacing: -2px;
        text-transform: uppercase;
    }


    .tred{
        transform: rotate(-45deg);
        font-size:28px;
        font-weight: 600;
        letter-spacing: .5px;
       /* background-color:rgba(255, 0, 0, 0.178);*/
        margin-top: -738px;
        margin-left:-150px;
        text-transform: uppercase;
    }

    .tgreen{
        transform: rotate(-45deg);
        font-size: 20px;
        letter-spacing: 0px;
        text-transform: uppercase;


        margin-left:-125px;
        margin-top:-25px;

/*        background-color: rgba(0, 128, 0, 0.514);*/
    }

    .tpink{
        transform: rotate(-45deg);
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 20px;
        color: rgb(187, 96, 96);

        margin-left:70px;
        margin-top:-178px;

/*        background-color: pink;*/
    }

    .tcyan{
        transform: rotate(-45deg);
        font-size: 12px;
        letter-spacing: -.1px;
        line-height:18px;


        margin-left:380px;
        margin-top:545px;
        position: absolute;

/*        background-color: cyan;*/
    }

    .tblue{
        transform: rotate(-45deg);
        font-size: 60px;

        margin-left:-210px;
        margin-top:-800px;  
    }

/* OBJECTS */
    .ogreen{
        transform:rotate(-45deg);
        position:absolute;
        height:50px;
        width:550px;
        background-color: black;

        margin-left:195px;
        margin-top:15px; 
        color:white;

    }

    .oyellowvert{
        transform:rotate(-45deg);
        position:absolute;
        height:30px;
        width:240px;
        background-color: black;

        margin-left:110px;
        margin-top:358px; 
    }

    .oyellowhori{
        transform:rotate(-45deg);
        position:absolute;
        height:160px;
        width:30px;
        background-color: black;

        margin-left:127px;
        margin-top:385px; 
    }

    .ored{
        transform:rotate(-45deg);
        position:absolute;
        height:150px;
        width:150px;
        background-color: black;

        margin-left:-85px;
        margin-top:125px; 
    }


    .borderR{
        position:absolute;
        height:550px;
        width:550px;
        background-color: white;

        margin-left:590px;
        margin-top:-200px; 
    }
    .borderB{
        position:absolute;
        height:100px;
        width:550px;
        background-color: white;

        margin-left:80px;
        margin-top:500px; 
    }



} /*End @media*/