@import url("https://use.typekit.net/ywf2fly.css");
@media screen{
        *{
            font-family:futura-pt, sans-serif;
        }

    body {
        background-color: white;
    }

      .widthwrapperofdoom{
          /*Ich liess mich bei dieser Lösung von Max inspirieren*/
          position:relative;
          overflow:hidden;
          height:100vh;
          width:64.7vh; 
        
          transform:translate(0vh,0vh);
          background-color: white;
      }

      .r-align{
          position:absolute;
      }

      .flex-oxb{
        display: flex;
        justify-content: left;
      }

      .flex-ogreen{
        display: flex;
        width:100vw;
        justify-content: right;
        border:1px solid blue;
      }

    .title1{
        transform: rotate(-45deg);
        font-size:14vh;
        font-weight:500;
        text-align:center;
        left:5.3vh;
        top:30.4vh;
        letter-spacing: -.9vh;
        text-transform: uppercase;
        position: absolute;

        animation-name: title1ani;
        animation-duration: 1.5s;
    }

    .title2{
        transform: rotate(-45deg);
        font-size:14vh;
        font-weight:500;
        text-align:center;
        left:4vh;
        top:38.5vh;
        letter-spacing: -.5vh;
        text-transform: uppercase;
        position: absolute;

        animation-name: title2ani;
        animation-duration: 1.5s;
    }

    .tred{
        transform: rotate(-45deg);
        font-size:3vh;
        font-weight: 600;
        letter-spacing: .08vh;

        top: 71.5vh;
        left:14.5vh;
        text-transform: uppercase;
        position: absolute;

        animation-name: tredani;
        animation-duration: 1.75s;
    }

    .tgreen{
        transform: rotate(-45deg);
        font-size:2vh;
        font-weight: 600;
        letter-spacing: .08vh;

        top: 77.5vh;
        left:17.5vh;
        text-transform: uppercase;
        position: absolute;

        animation-name: tgreenani;
        animation-duration: 1.75s;
    }

    .tpink{
        transform: rotate(-45deg);
        font-size: 2vh;
        letter-spacing: 0vh;
        line-height: 2vh;
        color: white;

        left:35.8vh;
        top:56.5vh;
        position:absolute;
    }

    .tcyan{
        transform: rotate(-45deg);
        font-size: 1.2vh;
        letter-spacing: 0vh;
        line-height: 2vh;


        left:42vh;
        top:58.5vh;
        position:absolute;

        animation-name: tcyanani;
        animation-duration: 1.75s;
    }

    .tblue{
        transform: rotate(-45deg);
        font-size: 5.5vh;

        left:11vh;
        top:4vh;  
        position: absolute;

        animation-name: tblueani;
        animation-duration: 2.5s;
    }



/* OBJECTS */
    .ogreen{
        transform:rotate(-45deg);
        position:absolute;
        height:5vh;
        width:60vh; 
        background-color: black;

        margin-left:22vh;
        margin-top:47.5vh; 
        
        animation-name: ogreenani;
        animation-duration: 1.5s;
    }

    .oyellowvert{
        transform:rotate(-45deg);
        position:absolute;
        height:3vh;
        width:25vh;
        background-color: black;

        margin-left:13.2vh;
        margin-top:84.6vh; 

        animation-name: oyellowvertani;
        animation-duration: 2s;
    }

    .oyellowhori{
        transform:rotate(-45deg);
        position:absolute;
        height:15vh;
        width:3vh;
        background-color: black;

        margin-left:14vh;
        margin-top:87.5vh; 

        animation-name: oyellowhoriani;
        animation-duration: 1.5s;
    }

    .ored{
        transform:rotate(-45deg);
        position:absolute;
        height:20vh;
        width:20vh;
        background-color: black;

        left:-13vh;
        top:57.8vh; 

        animation-name: oredani;
        animation-duration: 1.5s;
    }

    .ocyan{
        position: absolute;

        height: 2vh;
        width: 2vh;
        background-color: transparent;

        border-radius:50%;
        border-style: solid;
        border-width: .9vh;

        top:15vh;
        left:46vh;

        animation-name: ocyanani;
        animation-duration: 2.8s;
    }

    .opurple{
        transform:rotate(-45deg);
        position:absolute;
        height:40vh;
        width:1vh;
        background-color: black;

        left:52.5vh;
        top:69vh; /* nice */ 

        animation-name: opurpleani;
        animation-duration: 3s;  
    }

    .olime{
        position: absolute;

        height: 5vh;
        width: 5vh;
        background-color: transparent;

        border-radius:50%;
        border-style: solid;
        border-width: .9vh;

        top:3vh;
        left:3vh;

        animation-name: olimeani;
        animation-duration: 3s;  
    }

    .oseaf{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:6.5vh;
        background-color: black;

        left:12.4vh;
        top:15.5vh; 

        animation-name: oseafani;
        animation-duration: 3s;  
    }

    .ooxb1{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:6.5vh;
        background-color: black;

        left:33.5vh;
        top:27.5vh; 

        animation-name: oxbani;
        animation-duration: 2.5s;  
    }

    .ooxb2{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:39vh;
        top:29.5vh; 

        animation-name: oxbani;
        animation-duration: 2.9s;  
    }

    .ooxb3{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:48vh;
        top:25vh; 

        animation-name: oxbani;
        animation-duration: 3.4s;  
    }

    .ooxb4{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:44.5vh;
        top:34.2vh; 

        animation-name: oxbani;
        animation-duration: 3.2s;  
    }

    .ooxb5{
        transform:rotate(-45deg);
        position:absolute;
        height:.5vh;
        width:15vh;
        background-color: black;

        left:52vh;
        top:32vh; 

        animation-name: oxbani;
        animation-duration: 2.5s;  
    }

    .oblue{
        transform: rotate(-45deg);
        position: absolute; 
        height: 12.5vh; 
        width: 25vh; 
        border-top-left-radius: 25vh; 
        border-top-right-radius: 25vh;
        background-color: black; 

        left: 4.2vh; 
        top: 28.6vh;
    }

    .obluecover{
        transform: rotate(-45deg);
        transform-origin: left;
        position: absolute; 
        height: 13vh; 
        width: 35vh; 
        background-color: white; 

        left: 26vh; 
        top: 19vh;
       
        animation-name: oblueani;
        animation-duration: 2s;
    }



/* KEYFRAMES OBJECTS*/
    /* Wichtige Sachen wie Texte zuerst */

@keyframes ogreenani{
    0% {transform: rotate(-45deg) translate(20vh,0vh) scale(0.2,.9);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes title1ani{
    0%{transform: rotate(-45deg) translate(-50vh,0vh) scale(1,1); opacity: 0;}
    50%{transform: rotate(-45deg) translate(-50vh,0vh) scale(.6,.7); opacity: 0;}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);opacity: 1;}
}

@keyframes title2ani{
    0%{transform: rotate(-45deg) translate(-40vh,0vh) scale(.8,.9);opacity: 0;}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);opacity: 1;}
}

@keyframes oredani{
    0%{transform: rotate(-45deg) translate(-40vh,0vh) scale(.8,1);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes tredani{
    0%{transform: rotate(-45deg) translate(40vh,0vh) scale(1,1); opacity: 0;}
    35%{transform: rotate(-45deg) translate(40vh,0vh) scale(1,1); opacity: 0;}
    60%{transform: rotate(-45deg) translate(20vh,0vh) scale(1,1); opacity: 0;}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);opacity: 1;}
}

@keyframes oblueani{
    0%{transform: rotate(-45deg) translate(-30vh,0vh) scale(1,1); opacity: 1;}
    55%{transform: rotate(-45deg) translate(-30vh,0vh) scale(1,1); opacity: 1;}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);opacity: 1;}
}

@keyframes tcyanani{
    0%{transform: rotate(-45deg) translate(0vh,-5vh) scale(.8,.1);opacity: 0}
    80%{transform: rotate(-45deg) translate(0vh,-5vh) scale(.8,.1);opacity: 0}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes tgreenani{
    0%{transform: rotate(-45deg) translate(0vh,-5vh) scale(.5,.1);opacity: 0}
    80%{transform: rotate(-45deg) translate(0vh,-5vh) scale(.5,.1);opacity: 0}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes oyellowhoriani{
    0%{transform: rotate(-45deg) translate(-40vh,0vh) scale(1,0);}
    30%{transform: rotate(-45deg) translate(-20vh,0vh) scale(1,0);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes oyellowvertani{
    0%{transform: rotate(-45deg) translate(-40vh,0vh) scale(.05,1);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes opurpleani{
    0%{transform: rotate(-45deg) translate(0vh,40vh) scale(1,.5);}
    50%{transform: rotate(-45deg) translate(0vh,40vh) scale(1,.5);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes oseafani{
    0%{transform: rotate(-45deg) translate(-40vh,0vh) scale(.5,1);opacity: 0;}
    50%{transform: rotate(-45deg) translate(-40vh,0vh) scale(.5,1);opacity: 0;}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);opacity: 1;}
}

@keyframes olimeani{
    0%{transform: rotate(-45deg) translate(0vh,0vh) scale(0,0);}
    65%{transform: rotate(-45deg) translate(0vh,0vh) scale(0,0);}
    75% {transform:rotate(-45deg) translate(0vh,0vh) scale(1.2,1.2);}
    85% {transform:rotate(-45deg) translate(0vh,0vh) scale(.8,.8);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes ocyanani{
    0%{transform: rotate(-45deg) translate(0vh,0vh) scale(0,0);}
    65%{transform: rotate(-45deg) translate(0vh,0vh) scale(0,0);}
    75% {transform:rotate(-45deg) translate(0vh,0vh) scale(1.2,1.2);}
    85% {transform:rotate(-45deg) translate(0vh,0vh) scale(.8,.8);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes tblueani{
    0%{transform: rotate(-45deg) translate(40vh,0vh) scale(.5,1);}
    50%{transform: rotate(-45deg) translate(40vh,0vh) scale(.5,1);}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);}
}

@keyframes oxbani{
    0%{transform: rotate(-45deg) translate(45vh,0vh) scale(.5,1);opacity: 0;}
    50%{transform: rotate(-45deg) translate(45vh,0vh) scale(.5,1);opacity: 0;}
    100% {transform:rotate(-45deg) translate(0vh,0vh) scale(1,1);opacity: 1;}
}

@media screen and (min-width:1200px){
    .widthwrapperofdoom{
        position:relative;
        overflow:hidden;
        height:100vh;
        width:100vw; 

        transform:translate(0vw,0vh);
        background-color: white;
    }

    .r-align{
        position:absolute;
        min-width: 960px;
        right: -20vh;
        left: 60%;
    }

    .balken{
        position:absolute;
        min-width: 960px;
        right: -40vh;
    }

    .r-2{
        position:absolute;
        min-width: 960px;
        left: 40%;
        top: -50vh;
        transform: scale(1.5);
    }

    .r-3{
        position:absolute;
        min-width: 960px;
        top: -10vh;
        transform: scale(1.1);
        left: 10%;
    }


.title{
    position:absolute;
    top: -60vh;
    transform: scale(1.7,1.7);
    left:25%;
}

.ocyan{
    position:absolute;
    left:40%;
    top:5vh;
}

.obluegroup{
    position:absolute;
    left: 15%;
    top: -5vh;
}

.atop{
    position:absolute;
    left: 10%;
}

.olime{
    position:absolute;
    left:5%;
    top:5vh;
}

} /*End media screen*/
} /*End @media*/

        /*
        Futura PT Medium
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;


        Futura PT Heavy
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Book
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;


        Futura PT Demi
        font-family: futura-pt, sans-serif;
        font-weight: 600;
        font-style: normal;


        Futura PT Bold
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Bold Oblique
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: italic;


        Futura PT Cond Book
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 400;
        font-style: normal;


        Futura PT Cond Book Oblique
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 400;
        font-style: italic;


        Futura PT Cond Bold
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 700;
        font-style: normal;


        Futura PT Cond Bold Oblique
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 700;
        font-style: italic;
        */